
* {
    box-sizing: border-box;

    background-color: darkolivegreen;

    color: floralwhite;
}

main {
    display: block;
    width: 100%;
}

.center {
    text-align: center;
}

.transparent {
    background-color: rgba(240, 248, 255, 0);
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.699), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0));
}

.menu {
    list-style-type: none;
    margin: 1px;
    padding: 2px;
    overflow: hidden;
}

.linav {
    float: left;
}

.linavright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.linava {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: gray;
}

.active {
    background-color: gold;
    color: black;
}

.linava:hover {
    background-color: goldenrod;
    color: black;
}

.lilista:hover {
    color: gold;
}

.banner-link {
    text-decoration: none;
    color: floralwhite;
}

div.banner {
    width: 99%;
    border: whitesmoke solid 3px;
    background: darkolivegreen url(https://images.unsplash.com/photo-1590273466070-40c466b4432d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJlZXMlMjBpbiUyMGZvcmVzdHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80) no-repeat 0 34%;
    background-size: cover;
    font-size: large;
    font-family: "Verdana", serif;
    position: relative;
}

div.navigation {
    background-color: darkolivegreen;
    height: auto;
    width: 99%;
    border: 3px solid whitesmoke;
    position: sticky;
    margin-right: 6px;
}

.container {
    background-color: darkolivegreen;
    border: 3px whitesmoke solid;
    margin-left: 0;
    height: 100vh;
    width: 99%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 17%;
    background: url(https://img.freepik.com/free-photo/top-view-natural-medicinal-spices-herbs_23-2148776497.jpg);
    background-size: cover;
    border: 3px whitesmoke solid;
}

.searchbar {
    background: transparent;
    position: relative;
}

.search-input-container {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-size: cover;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: transparent;
}

#searchInput {
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
    background: whitesmoke;
    color: black;
}

#searchInput::placeholder {
    color: black;
}


div.text {
    font-size: large;
    margin-top: 20%;
    margin-bottom: 5%;
    color: whitesmoke;
    font-family: "Verdana", serif;
    text-shadow: grey;
    font-weight: bold;
}

footer {
    float: left;
    background-color: darkolivegreen;
    width: 99%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

#popup {
    display: none;
    /* Add other styles as needed */
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

th {
    border-right: 1px solid black;
}

th:last-child {
    border-right: none;
}

td:nth-child(4n) {
    border-right: 1px solid black;
}

td:last-child {
    border-right: none;
}

.bottomimage-container {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.bottomimage-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forecast {
    position: fixed;
    z-index: 9999;
    bottom: 5vh;
    right: 2%;
    flex: 1;
    margin-left: 20px;
    width: 20%;
}


.select-container {
    margin-right: 20px;
}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-flag {
    margin-right: 20px;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#welcome-message {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: initial;
    font-family: initial;
    background: transparent;

}

#welcome-message .user-name {
    font-size: inherit;
    font-family: inherit;
    background: transparent;
}

#welcome-message .user-name .user-placeholder {
    background: transparent;
}

div.catalogue .row::after {
    content: " ";
    clear: both;
    display: table;
    width: 100%;
}

div.catalogue .column {
    float: left;
    width: 25%;
    padding: 10px;
}


div.catalogue .checkbox-list {
    list-style-type: none;
    padding: 0;
}

div.catalogue h3 {
    margin-top: 0;
}

.cell-flora {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-border-right {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cell-border-left {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cell-empty {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.catalogue-header {
    text-align: center;
}