*{
    background-color: darkolivegreen;
    color: floralwhite;
}
.center{
    text-align: center;
}
.transparent{
    background-color: rgba(240, 248, 255, 0);
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0),rgba(128, 128, 128, 0.699),rgba(128, 128, 128, 0),rgba(128, 128, 128, 0));
}
.menu{
    list-style-type: none;
    margin: 1px;
    padding: 2px;
    overflow: hidden;
}
.linav{
    float: left;
}
.linavright{
    float: right;
}
.linava{
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: gray;
}
.active{
    background-color: gold;
    color: black;
}
.linava:hover{
    background-color: goldenrod;
    color: black;
}
.lilista:hover{
    color: gold;
}
div.banner{
    background: url(https://images.unsplash.com/photo-1590273466070-40c466b4432d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJlZXMlMjBpbiUyMGZvcmVzdHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80) no-repeat;
    height: 14%;
    width: fill;
    border: whitesmoke solid 5px;
    background-size: cover;
    background-position: 0px 34%;
}
div.navigation{
    height: max-content;
    border: 5px solid whitesmoke;
    position: sticky;
}
.banner{
    font-size: large;
    font-family: "Verdana", serif;
}
.navigation{
    font-size: 16px;
    font-family: "Courier", serif;
}
div.row{

}
div.leftrow{
    background: url("https://img.freepik.com/free-photo/top-view-natural-medicinal-spices-herbs_23-2148776497.jpg") no-repeat;
    float: left;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 15%;
    padding: 10px 20px;
    border: 3px whitesmoke solid;
    position: absolute;
}
div.rigthrow{
    float:right;
    width: 50%;
}
div.contentrow{
    float: left;
}
