{% extends "base.html" %}
{% load static %}


{% block title %}All Flora{% endblock %}

{% block content %}
    <div class="catalogue">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% for category, plants in form.selected_plants.field.choices %}
                    <div class="column">
                        <h3>{{ category }}</h3>
                        <ul class="checkbox-list">
                            {% for plant in plants %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="{{ form.selected_plants.html_name }}"
                                               value="{{ plant.0 }}"
                                               {% if plant.0 in form.selected_plants.value %}checked{% endif %}>
                                        <span class="flora-link" data-flora-name="{{ plant.1 }}"
                                              data-flora-picture-url="{{ plant.2 }}">{{ plant.1 }}</span>
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </form>
    </div>
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
    <script src="{% static 'js/catalogue.js' %}"></script>
{% endblock %}
