{% extends "base.html" %}

{% block title %}"General"{% endblock %}

{% block content %}
    <div class="header">
    <h1>Korila</h1>
    </div>
    <div class="introduction">
    <p>
        Korila on meie lõpuprojekt, mille kirjutasime Sowtfare Development Academy kursuse lõputööna.<br>
        Miks just Korila?<br> Korila tuleb sõnast korilus ja tähendab meile mõlemale üht tähtsat osa meie juurtest -
        toidu ja tarbeesemete tarbimist loodusest. See oli üks tähtsamaid eluviiside osasid meie esivanemate elus ja
        tksub siiani tugevalt eestlaste rinnus.<br> Me loodame, et see lehekülg innustab sind rohkem korilusega tegelema.
        Või kui teadmisi piisavalt, siis äkki sõpra teinekord endaga kaasa haaraama, et ka teistele oma teadmisi jagada
        ja üht eestlaste traditsiooni elus hoida.<br> Kui tuleb mõtteid või on sul äkki raamaturiiulis mõni koriluse
        teemaline raamat tolmu korjamas, milles olevas infost võiks meile kasu olla, siis kirjuta julgelt meile.
        Meie kontaktid on kohe siin lehe allnurgas olemas.<br> Edukat korilust!
    </p>
    </div>
    <div class="contacts">
    <p>
        Reedik Sõber, e-mail:
        Marje Avik, e-mail: marjeavik@gmail.com
    </p>
    </div>
{% endblock %}
