{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
    <style>
        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        th {
            border-right: 1px solid black;
        }

        th:last-child {
            border-right: none;
        }

        td:nth-child(4n) {
            border-right: 1px solid black;
        }

        td:last-child {
            border-right: none;
        }
    </style>

    <table>
        <thead>
        <tr>
            {% for month_number in 1|get_range:13 %}
                <th colspan="4">{{ month_number|month_name }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for month_number in 1|get_range:13 %}
                {% for week_number in 1|get_range:5 %}
                    <td>{{ week_number }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for flora in selected_flora %}
            <tr>
                {% for _ in 1|get_range:49 %}
                    <td>+</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
