{% load custom_filters %}

<table>
    <thead>
    <tr>
        {% for month_number in 1|get_range:13 %}
            <th colspan="4">{{ month_number|month_name }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for month_number in 1|get_range:13 %}
            {% for week_number in 1|get_range:5 %}
                <td>-</td>
            {% endfor %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for flora in selected_flora %}
        <tr>
            {% before_range flora.harvest_start_month flora.harvest_start_week as before_range %}
            {% for i in before_range %}
                <td></td>
            {% endfor %}


            {% flora_object_range flora.harvest_start_month flora.harvest_start_week flora.harvest_end_month flora.harvest_end_week as object_range %}
            {% flora_object_namespan flora.harvest_start_month flora.harvest_start_week flora.harvest_end_month flora.harvest_end_week as namespan %}

           {% for i in object_range %}
                    {% if i == namespan %}
                        <td style="border-top: 1px solid black; border-bottom: 1px solid black; text-align: center; white-space: nowrap; overflow: visible; position: relative; display: flex; justify-content: center; align-items: center;">
                            <span class="flora-link" data-flora-name="{{ flora.name }}" data-flora-picture-url="{{ flora.picture_url }}">{{ flora.name }}</span>
                        </td>
                    {% else %}
                        <td {% if forloop.last %}style="border-right: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;" {% endif %}
                            {% if forloop.first %}style="border-left: 1px solid black; border-top: 1px solid black; border-bottom: 1px solid black;" {% endif %}
                            style="border-top: 1px solid black; border-bottom: 1px solid black;">
                        </td>
                    {% endif %}
                {% endfor %}

            {% after_range flora.harvest_end_month flora.harvest_end_week as after_range %}
            {% for i in after_range %}
                <td></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
